.adada{

    text-align: center;
    background-color: blueviolet;
    border-radius: 50px;
    border: solid 2px color red
}
.fffff{

color: red;
}
.hhhhh{

color: yellowgreen;
}
.jjjj{

    color: red;
}
.ggggg{

    color: yellow;
}
.pppp{
    color: yellowgreen;
}
table{
    width: 800px;
    border: 2px solid black;
    text-align: center;
    border-collapse:collapse;
}
tr,td,th{
    border: 2px solid black;
}
.oooo{
    background-color: red;
}
.nnnn{
    background-color: blueviolet;
}
.aaaa{
    background-color: blueviolet;
}
.dddd{
    background-color: blueviolet;
}
.vvvv{
    background-color: green;
}
.zzzz{
    background-color: green;
}
.wwww{
    background-color: green;
}
.mmmm{
    background-color: green;
}
.bbbb{
    background-color: blueviolet;
}
.ssss{
    background-color: green;
}
.llll{
    background-color: green;
}
.xxxx{
    background-color: green;
}
.nnnn{
    background-color: green;
    text-align: center;
}
.rrrr{
    background-color: blueviolet;
}
.tttt{
    background-color: blueviolet;
}
.kkkk{
    background-color: blueviolet;
}
.gggg{
    background-color: blueviolet;
}
.dddd{
    background-color: blueviolet;
}.cccc{
    background-color: blueviolet;
}
.qqqq{
    text-align: center;
}
    